{% extends 'base.html' %}

{% block title %}
<title>Change task</title>
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-info">

        <h1>Изменить задачу</h1>
        <form method="post">
            <input type="text" name="title" id="title" class="form-control" value="{{ task.title}}"
                placeholder="Введите заголовок"><br>
            <textarea name="text" id="text" class="form-control"
                placeholder="Введите описание">{{ task.text}}</textarea><br>
             
            <div class="my-up">
            <input type="image" name="picture" src="{{ url_for('static', filename='images/done.svg') }}" width="50"
            height="50" alt="Изменить" class="my-up"/>
            
            <a href="/task" ><img src="{{ url_for('static', filename='images/back.svg') }}" width="50"
            height="50" alt="Назад" ></a>    </div>
    </div>
    </form>
    </div>
    </div>
{% endblock %}