{% extends 'base.html' %}

{% block title %}
<title>Create_task</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="alert alert-info">

    <h1>Новая задача</h1>
    {% for msg in get_flashed_messages() %}
    <div class="flash">
       <p class="check">{{msg}}</p>
    </div>
    {% endfor %}
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Введите заголовок"><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введите описание"></textarea><br>
      
        <div class="my-up">
        <input type="image" name="picture" src="{{ url_for('static', filename='images/done.svg') }}" width="50"
        height="50" alt="Сохранить" class="my-up"/>

        <a href="/task"><img src="{{ url_for('static', filename='images/back.svg') }}" width="50"
            height="50" alt="Назад"></a>    
</div>
</form>
</div>
</div>
{% endblock %}