{% extends 'base.html' %}

{% block title %}
<title>tasks</title>
{% endblock %}

{% block body %}

<div class="container">

  <div class="my-header">
    <div>
      <h1>Привет, <i> {{ current_user.name }}!</i></h1>
      <h3>
        Невыполненных задач:
        <i> {{task|length - task|sum(attribute='done')}} </i>
      </h3>
    </div>
    <div><br>
      <p><a href="/logout"><img src="{{ url_for('static', filename='images/exit.svg') }}" width="60" height="60"
            alt="Выйти"></a></p>
    </div>
  </div>
  {% for el in task %}
  <div class="block">
    Заголовок: {% if el.done %}
    <h2 class="line-limit-length"><s>{{ el.title }}</s></h2>
    {% else %}
    <h2 class="line-limit-length">{{ el.title }}</h2>
    {% endif %} Описание:
    <h4 class="line-limit-length">{{ el.text}}</h4>
    <a href="/change_task/{{ el.id }}"><img src="{{ url_for('static', filename='images/change.svg') }}" width="50"
        height="50" alt="Изменить"></a>
    <a href="/task/{{ el.id }}/delete"><img src="{{ url_for('static', filename='images/delete.svg') }}" width="40"
        height="50" alt="Удалить"></a>
    {% if el.done %}
    <a href="/task/{{ el.id }}/no_done"><img src="{{ url_for('static', filename='images/not done.svg') }}" width="50"
        height="50" alt="Не выполнено"></a>
    {% else %}
    <a href="/task/{{ el.id }}/done"><img src="{{ url_for('static', filename='images/done.svg') }}" width="50"
        height="50" alt="Выполнено"></a>
    {% endif %}
  </div>
  {% endfor %}
  <div class="block">
    <p class="icon"><a href="/create_task"><img src="{{ url_for('static', filename='images/create.svg') }}"
          width="50" height="50" alt="Создать задачу"></a>
    </p>

</div>
</div>
{% endblock %}