{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" href="style/main.css"> 
{% endblock %}

{% block title %}
  <title>Authorization</title>
{% endblock %}

{% block body %}
  <div class="my-container">
    <div class="centered">
    <div class="alert alert-info">
      <br><h1>Авторизация</h1><br>
      {% for cat, msg in get_flashed_messages(True) %}
      <div class="flash {{cat}}"><div class="check">{{msg}}</div></div>
      {% endfor %}
      <form action="/login" method="post" class="form-contact">
        <p><br>
          <input type="text" name="name" value="" requied placeholder="Логин"/>
        </p>
        <p>
          <input type="password" name="psw" value="" requied placeholder="Пароль"/>
        </p>
        <p><input type="submit" class="my-submit"  value="Войти" ></p>
        <hr width="100%">
        <p><a href="{{url_for('register')}}" class="my-link">Регистрация</a></p>
      </form>
    </div>
  </div>{% endblock %}