{% extends 'base.html' %}

{% block title %}
<title>register</title>
{% endblock %}

{% block body %}

    <div class="my-container">
        <div class="centered">
        <div class="alert alert-info">
            <h1>Регистрация</h1>
            {% for cat, msg in get_flashed_messages(True) %}
            <div class="flash {{cat}}">{{msg}}</div>
            {% endfor %}
            <br>
            <form action="/register" method="post" class="form-contact">
                <p><input type="text" name="name" value="" requied placeholder="Логин"/>
                <p><input type="password" name="psw" value="" requied placeholder="Пароля"/>
                <p><input type="password" name="psw2" value="" requied placeholder="Повтор пароля"/>
                <p><input type="submit" class="my-submit" value="Регистрация" />
                    <hr width="100%">
                <p><a href="/login" class="my-link">Назад</a>
        </div>
    </div>
    </form>
{% endblock %}